@model IEnumerable<jwelleryshopping.Models.UserRegMst>

@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_LayoutHomeAdmin.cshtml";
}

<h2>ManageUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
            @Html.ActionLink("Details", "Details", new { id = item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.userID })
        </td>
    </tr>
}

</table>
